@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

@layer base {
    :root {
        /* color settings */
        --background: hsl(44 45% 98%);
        --foreground: hsl(44 55% 4%);
        --muted: hsl(44 11% 94%);
        --muted-foreground: hsl(44 10% 27%);
        --popover: hsl(44 45% 97%);
        --popover-foreground: hsl(44 55% 3%);
        --card: hsl(44 45% 97%);
        --card-foreground: hsl(44 55% 3%);
        --border: hsl(44 14% 89%);
        --input: hsl(44 14% 89%);
        --primary: hsl(44 98% 50%);
        --primary-foreground: hsl(44 98% 10%);
        --secondary: hsl(44 4% 81%);
        --secondary-foreground: hsl(44 4% 21%);
        --accent: hsl(44 4% 81%);
        --accent-foreground: hsl(44 4% 21%);
        --destructive: #c54111;
        --destructive-foreground: hsl(44 45% 98%);
        --ring: hsl(44 98% 50%);
        --chart-1: hsl(44 98% 50%);
        --chart-2: hsl(44 4% 81%);
        --chart-3: hsl(44 4% 81%);
        --chart-4: hsl(44 4% 84%);
        --chart-5: hsl(44 101% 50%);
        --radius: 0.5rem;

        /* fonts settings */
        --font-head: "Poppins", sans-serif;
        --font-body: "Lato", sans-serif;

        --font-size-sm: 0.875rem; /* 14px for hints */
        --font-size-base: 1rem; /* 16px for default/input */
        --font-size-md: 1.125rem; /* 18px for label */
        --font-size-lg: clamp(
            1.25rem,
            2.5vw,
            1.5rem
        ); /* Scales between 20px and 24px */
        --font-size-head: clamp(
            1.5rem,
            3vw,
            2rem
        ); /* Scales between 24px and 32px */
        --font-size-hero: clamp(2rem, 5vw, 2.5rem);
    }

    .dark {
        --background: hsl(44 45% 0%);
        --foreground: hsl(44 25% 98%);
        --muted: hsl(0 11% 6%);
        --muted-foreground: hsl(0 10% 73%);
        --popover: hsl(0 0% 1%);
        --popover-foreground: hsl(44 25% 99%);
        --card: hsl(0 0% 1%);
        --card-foreground: hsl(44 25% 99%);
        --border: hsl(44 14% 13%);
        --input: hsl(44 14% 13%);
        --primary: hsl(44 98% 50%);
        --primary-foreground: hsl(44 98% 10%);
        --secondary: hsl(0 0% 8%);
        --secondary-foreground: hsl(0 0% 68%);
        --accent: hsl(0 0% 8%);
        --accent-foreground: hsl(0 0% 68%);
        --destructive: hsl(16 90% 56%);
        --destructive-foreground: hsl(0 0% 0%);
        --ring: hsl(44 98% 50%);
        --chart-1: hsl(44 98% 50%);
        --chart-2: hsl(0 0% 8%);
        --chart-3: hsl(0 0% 8%);
        --chart-4: hsl(0 0% 11%);
        --chart-5: hsl(44 101% 50%);
    }
}
