html, body{
  height: 100%;
  width: 100%;
  margin: 0;
}

.container1{
  height: 100vh;
  width: 100vw;
  background-color: aliceblue;
  display: grid; 
  grid-template-columns: 2fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". .";
}

.background{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
}

.main-content{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}