.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
}

.form-box {
    width: 40%;
    height: fit-content;
    margin: 0;
    padding: 2rem;
    border: 1px solid var(--border);
    background-color: var(--card);
    color: var(--card-foreground);
    border-radius: var(--radius);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.navbar {
    background-color: var(--primary);
    height: 80px;
    align-items: center;
    padding: 0.5rem 1rem;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    font-size: var(--font-size-lg);
    color: var(--primary-foreground);
}

.logo-img {
    margin-right: 0.5rem;
}

body {
    /* timpa padding untuk login page */
    padding-top: 8rem !important;
}

@media (max-width: 767px) {
    .form-box {
    width: 95%;
}
}
