.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
}

.form-box {
    width: 40%;
    height: fit-content;
    margin: 0;
    padding: 2rem;
    background-color: var(--card);
    color: var(--card-foreground);
    border-radius: var(--radius);
}

.navbar {
    background-color: var(--primary);
    height: 80px;
    align-items: center;
    padding: 0.5rem 1rem;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    font-size: var(--font-size-lg);
    color: var(--primary-foreground);
}

.logo-img {
    margin-right: 0.5rem;
}

/* Button navbar controls */
.navbar-button a {
    text-decoration: none;
    color: var(--secondary-foreground);
    background-color: var(--secondary);
    padding: 0.875rem 1rem;
    border-radius: var(--radius);
}

.navbar-button:active {
    transform: scale(0.97);
}

.head {
    font-size: var(--font-size-head);
    font-family: var(--font-head);
    color: var(--foreground);
}

.subhead {
    font-size: var(--font-size-lg);
    color: var(--foreground);
}

.form-label {
    font-size: var(--font-size-md);
    color: var(--foreground);
}

/* Button masuk controls */
.btn {
    background-color: var(--primary);
    color: var(--primary-foreground);
    width: 100%;
    height: 3rem;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: var(--radius);
}

.btn:hover {
    background-color: hsl(
        44 98% 50% / 0.9
    ); /* Adjusted to use HSL directly for primary hover */
}

.btn:active {
    transform: scale(0.97);
}
